.thumbnail {
    height: 125px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.yellow {
	color: goldenrod;
}

.red {
	color: red;
}

.lightblue {
	color: blue;
}

.green {
	color: green;
}